In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from time import sleep
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import csv

In [2]:
path = "..\chromedriver.exe"
service = Service(executable_path=path)
driver = webdriver.Chrome(service=service)
driver.get('https://www.gharghaderi.com/house-for-sale/')
driver.maximize_window()

In [19]:
#press more listing button till end
for i in range(1,300):
    time.sleep(5)
    more_button = driver.find_element(by="xpath",value='/html/body/div/div/div/div/span/button')
    more_button.click()

In [9]:
house_details_link = driver.find_elements(by="xpath",value='/html/body/div/div/div/div/a')

In [17]:
#get house links
list_of_house_links=[]
for house in house_details_link:
    house_link=house.get_property("href")
    list_of_house_links.append(house_link)
    print(house_link)

In [15]:
#put house links in csv file

with open('house_links_ghar.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    for link in list_of_house_links:
        writer.writerow([link])

In [18]:
## data sorting

In [3]:
with open('house_links_ghar.csv') as csv_file:
    csv_reader = csv.reader(csv_file)
    urls = [row[0] for row in csv_reader]

In [4]:
data_list=[]

for url in urls:
    try:
        driver.get(url)
        data_dict = {}
        try:
            district = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(12) > table > tbody > tr:nth-child(2) > td.test1')
            data_dict['City'] = district.text            
        except:pass
        try:
            address = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(12) > table > tbody > tr:nth-child(4) > td.test1')
            data_dict['Address'] = address.text        
        except:pass
        
        try:
            land = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(14) > table > tbody > tr:nth-child(3) > td.test1')
            data_dict['Land'] = land.text        
        except:pass
        
        try:
            road = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(14) > table > tbody > tr:nth-child(5) > td.test1')
            data_dict['Road'] = road.text            
        except:pass
        
        try:
            pricemon = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(14) > table > tbody > tr:nth-child(1) > td.test1')
            aa = pricemon.text
            price = aa.strip("रु.")
            data_dict['Price'] = price            
        except:pass
        
        try:
            bedroom = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(15) > table > tbody > tr:nth-child(2) > td.test1')
            data_dict['Bedroom'] = bedroom.text        
        except:pass
        
        try:
            bathroom = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(15) > table > tbody > tr:nth-child(3) > td.test1') 
            data_dict['Bathroom'] = bathroom.text    
        except:pass
                
        try:
            direction = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(15) > table > tbody > tr:nth-child(1) > td.test1')
            data_dict['Face'] = direction.text        
        except:pass
        
        try:
            floor = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(14) > table > tbody > tr:nth-child(4) > td.test1')
            data_dict['Floors'] = floor.text
        except:pass
        

        data_dict['url']=url
        # Print the dictionary
        data_list.append(data_dict)
    except:
        continue

print("done")

done

In [5]:
import pandas as pd

df = pd.DataFrame(data_list)
df.to_csv('houses.csv',index=False)
df_input = pd.read_csv('houses.csv')
df_input.tail()

,City,Address,Land,Road,Price,Bedroom,Bathroom,Face,Floors,url
690,Kathmandu,Kapan,2.5 aana,8 ft,"1,25,00,000",4,3,NaN,NaN,https://www.gharghaderi.com/house/385-House-fo...
691,Kathmandu,Sukedhara,0-3-0-0,13 ft,"1,72,00,000",NaN,NaN,south west,2.5,https://www.gharghaderi.com/house/371-House-fo...
692,Kathmandu,Samakhusi,4 aana,12 ft,"2,35,00,000",5+,4,NaN,2.5,https://www.gharghaderi.com/house/359-Semi-fur...
693,Kathmandu,Kadaghari,3.2.2.,12 ft,"1,95,00,000",NaN,NaN,North,1,https://www.gharghaderi.com/house/357-Ghar-bik...
694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.gharghaderi.com/house/340-1.5-stor...

In [6]:
import pandas as pd

df1 = pd.read_csv('eprophouse.csv')
df2 = pd.read_csv('houses_gharghaderi.csv')

In [7]:
df_merged = pd.concat([df1, df2], axis=0, ignore_index=True)

In [9]:
df_merged = df_merged.sort_values(by='Price', ignore_index=True)

In [10]:
df_merged.to_csv('merged_ep&gg.csv', index=False)