In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from time import sleep
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import csv

In [5]:
path = "C:\Program Files\Google\Chrome\Applicationchromedriver.exe"
service = Service(executable_path=path)
driver = webdriver.Chrome(service=service)
driver.get('https://www.gharghaderi.com/house-for-sale/')
driver.maximize_window()

In [19]:
#press more listing button till end
for i in range(1,300):
    time.sleep(5)
    more_button = driver.find_element(by="xpath",value='/html/body/div/div/div/div/span/button')
    more_button.click()

In [9]:
house_details_link = driver.find_elements(by="xpath",value='/html/body/div/div/div/div/a')

In [17]:
#get house links
list_of_house_links=[]
for house in house_details_link:
    house_link=house.get_property("href")
    list_of_house_links.append(house_link)
    print(house_link)

In [15]:
#put house links in csv file

with open('house_links_ghar.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    for link in list_of_house_links:
        writer.writerow([link])

In [18]:
## data sorting

In [6]:
with open('house_links_ghar.csv') as csv_file:
    csv_reader = csv.reader(csv_file)
    urls = [row[0] for row in csv_reader]

In [7]:
data_list=[]

for url in urls:
    try:
        driver.get(url)
        data_dict = {}
        district = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(12) > table > tbody > tr:nth-child(2) > td.test1')
        address = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(12) > table > tbody > tr:nth-child(4) > td.test1')
        land = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(14) > table > tbody > tr:nth-child(3) > td.test1')
        road = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(14) > table > tbody > tr:nth-child(5) > td.test1')
        pricemon = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(14) > table > tbody > tr:nth-child(1) > td.test1')
        aa = pricemon.text
        price = aa.strip("रु.")

        bedroom = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(15) > table > tbody > tr:nth-child(2) > td.test1')
        bathroom = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(15) > table > tbody > tr:nth-child(3) > td.test1') 
        direction = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(15) > table > tbody > tr:nth-child(1) > td.test1')
        floor = driver.find_element(By.CSS_SELECTOR, 'body > div.wrapper > div > div.subcontent > div.last-section > div:nth-child(14) > table > tbody > tr:nth-child(4) > td.test1')

        data_dict['Floors'] = floor.text
        data_dict['Price'] = price
        data_dict['City'] = district.text
        data_dict['Address'] = address.text
        data_dict['Road'] = road.text
        data_dict['Land'] = land.text
        data_dict['Bedroom'] = bedroom.text
        data_dict['Bathroom'] = bathroom.text    
        data_dict['Face'] = direction.text

        data_dict['url']=url
        # Print the dictionary
        data_list.append(data_dict)
    except:
        continue

print("done")

done

In [1]:
print(data_list)

NameError: name 'data_list' is not defined

In [8]:
import pandas as pd

df = pd.DataFrame(data_list)
df.to_csv('houses.csv',index=False)
df_input = pd.read_csv('houses.csv')
df_input.tail()

,Floors,Price,City,Address,Road,Land,Bedroom,Bathroom,Face,url
682,2.5,"2,20,00,000",Lalitpur,Harisiddhi,20 ft,4,5+,5+,City,https://www.gharghaderi.com/house/391-Brand-ne...
683,NaN,"1,25,00,000",Kathmandu,Kapan,8 ft,2.5 aana,4,3,NaN,https://www.gharghaderi.com/house/385-House-fo...
684,2.5,"1,72,00,000",Kathmandu,Sukedhara,13 ft,0-3-0-0,NaN,NaN,south west,https://www.gharghaderi.com/house/371-House-fo...
685,2.5,"2,35,00,000",Kathmandu,Samakhusi,12 ft,4 aana,5+,4,NaN,https://www.gharghaderi.com/house/359-Semi-fur...
686,1,"1,95,00,000",Kathmandu,Kadaghari,12 ft,3.2.2.,NaN,NaN,North,https://www.gharghaderi.com/house/357-Ghar-bik...